  <script type="text/javascript">
jQuery(document).ready(function(){       
    var $t = $('.messageScrollArea');
    $t.animate({"scrollTop": $('.messageScrollArea')[0].scrollHeight}, "fast");
});
  </script>

  <div> 
      <div style="float:left;width:20%;">

            <div style="padding:10px;margin:10px;"class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Profile 
                    </div>
                    <div class="panel-body">
                        <% user= User.find(cookies[:user_id])%>
                        <%= image_tag  user.profile_pic.url(:thumb),:height => "70",:width => "120"%><br/>
                        <h4><%= user.fname + " " + user.lname %></h4>
                        <a href="/main/profile"><%= cookies[:fname] %></a><br/>
                        <a href="/main/editprofile" class="btn btn-default btn-info btn-xs btn-block"><span class="glyphicon glyphicon-cog"></span> <b>Edit Profile</b></a>
                       
                        <a href="/main/logout" class="btn btn-default btn-info btn-xs btn-block"><span class="glyphicon glyphicon-off"></span> <b>Logout</b></a>

                        
                    </div>
                </div>
            </div>
            <hr>
      
            <ul class="list-unstyled">
              <li class="nav-header">
              <a href="#" data-toggle="collapse" data-target="#menu3">
                <h5>Groups<i class="glyphicon glyphicon-chevron-right"></i></h5>
                </a>
              
                  <ul class="list-unstyled collapse" id="menu3">
                      <% my_groups = GroupMember.where(:user_id => cookies[:user_id]) %>
                      <% for groups in my_groups %>
                        <% g = Group.find(groups.group_id) %>
                      <li><a href=<%='/groups/'+g.id.to_s %>><i class="glyphicon glyphicon-circle"></i> <%= g.name %></a></li>
                      <% end %>
                  </ul>
              </li>
              <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
                  
                  <ul class="list-unstyled collapse in" id="userMenu">
                      <li class="active"> <a href="/main/profile"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                      <li><a href="/main/messages"><i class="glyphicon glyphicon-envelope"></i> Messages <span class="badge badge-info"></span></a></li>
                      <li><a href="/pages/new"><i class="glyphicon glyphicon-cog"></i> Create Page</a></li>
                      <li><a href="/groups/new"><i class="glyphicon glyphicon-cog"></i> Create group</a></li>
                      <li><a href="/main/friends"><i class="glyphicon glyphicon-user"></i> Friends <span class="badge badge-info"><%=Friend.find(:all, :conditions => { :user1 => cookies[:user_id] }).count%></span></a></li>
                  </ul>
              
              
            </ul>
                 
            <hr>

            
      </div>
      <div style="float:left;width:55%;padding:10px;margin:10px">
           
            <div>
                    <div class="container">
                        
                        <div class="container">
                            <div class="row">
                              <div class="col-md-6 col-md-offset-3">
                                <div class="well well-sm">
                                        <% data = PersonalInformation.where(:user_id => cookies[:user_id]) %>
                                        <% data = data[0] %>
                                        <%= form_tag "/main/updateinfo" do %>
                                            <fieldset>
                                            <div class="form-group">
                                              <label class="col-md-4 control-label" for="Gender">Gender</label>
                                              <div class="col-md-4">
                                                <select id="Gender" name="Gender"  class="form-control">
                                                  <option value="Male" <%if data.gender=="Male"%> <%= "selected" %> <% end %> >Male</option>
                                                  <option value="Female" <%if data.gender=="Female"%> <%= "selected" %> <% end %>>Female</option>
                                                  <option value="Others" <%if data.gender=="Others"%> <%= "selected" %> <% end %>>Others</option>
                                                </select>
                                              </div>
                                            </div>
                                            <br/>
                                            <div class="form-group">
                                               <label class="col-md-3 control-label" for="email">City</label>
                                                <div class="col-md-9">
                                                    <input id="City" name="City" value="<%= data.city%>" placeholder="ex: Kanpur" class="form-control input-md" type="text">
                                                 </div>
                                            </div>
                                            <br/>
                                            <div class="form-group">
                                               <label class="col-md-3 control-label"  for="email">University</label>
                                                <div class="col-md-9">
                                                    <input id="University" name="University" value="<%= data.university%>" placeholder="ex:IIT Kanpur" class="form-control input-md" type="text">
                                                 </div>
                                            </div>
                                            <br/>
                                            <div class="form-group">
                                               <label class="col-md-3 control-label" for="email">Phone No</label>
                                                <div class="col-md-9">
                                                    <input id="Phone" name="Phone" value="<%= data.phone%>" placeholder="ex:IIT Kanpur"  class="form-control input-md" type="text">
                                                 </div>
                                            </div>
                                            <div class="form-group">
                                               <label class="col-md-3 control-label"  for="email">Birthday</label>
                                                <div class="col-md-9">
                                                    <input id="Birthday" name="Birthday" value="<%= data.birthday%>" placeholder="ex:dd/mm/yyyy" class="form-control input-md" type="text">
                                                 </div>
                                            </div>

                                            <a href=<%='/users/'+cookies[:user_id]+'/edit'%> ><span class="glyphicon glyphicon-user"></span> Change Timeline/profile Pic </a>
                                            
                                            <br/><br/><br/>
                                            <div class="form-group">
                                                <div class="col-md-12 text-right">
                                                    <input type="submit" class="btn btn-default btn-success btn-lg btn-block" value="Save Changes"/>
                                                </div>
                                            </div>

                                          </fieldset>
                                        <% end %>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                              <div class="col-md-6 col-md-offset-3">
                                <div class="well well-sm">
                                        
                                        <%= form_tag "/main/updateinfo2" do %>
                                            <fieldset>
                                            <div class="form-group">
                                               <label class="col-md-3 control-label" for="email">Name</label>
                                                <div class="col-md-9">
                                                    <input id="fname" name="fname" value="<%= user.fname%>"  class="form-control input-md" type="text">
                                                 </div>
                                            </div>
                                            <br/>
                                            <div class="form-group">
                                               <label class="col-md-3 control-label"  for="email">lname</label>
                                                <div class="col-md-9">
                                                    <input id="lname" name="lname" value="<%= user.lname%>"  class="form-control input-md" type="text">
                                                 </div>
                                            </div>
                                            <br/>
                                            <div class="form-group">
                                               <label class="col-md-3 control-label" for="email">Old Password</label>
                                                <div class="col-md-9">
                                                    <input id="oldpassword" name="oldpassword"    class="form-control input-md" type="password">
                                                 </div>
                                            </div>
                                            <div class="form-group">
                                               <label class="col-md-3 control-label"  for="email">NewPassword</label>
                                                <div class="col-md-9">
                                                    <input id="newpassword" name="newpassword"  class="form-control input-md" type="password">
                                                 </div>
                                            </div>
                                            <div class="form-group">
                                               <label class="col-md-3 control-label"  for="email">re-Password</label>
                                                <div class="col-md-9">
                                                    <input id="repassword" name="repassword"  class="form-control input-md" type="password">
                                                 </div>
                                            </div>

                                            
                                            
                                            <br/><br/><br/>
                                            <div class="form-group">
                                                <div class="col-md-12 text-right">
                                                    <input type="submit" class="btn btn-default btn-success btn-lg btn-block" value="Save Changes"/>
                                                </div>
                                            </div>

                                          </fieldset>
                                        <% end %>
                                </div>
                            </div>
                            </div>
                        </div>



                    </div>



                              
            </div>
          
      </div>
      <div style="padding:20px;">
                
      </div>
  </div>