 <div> 
      <div style="float:left;width:20%;">

            <div style="padding:5px;margin:10px;" class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Profile </h3>
                    </div>
                    <div class="panel-body">
                        <% user= User.find(cookies[:user_id])%>
                        <%= image_tag  user.profile_pic.url(:thumb), class: "img-circle", :height => "100",:width => "100" %><br/>
                        

                        <h4><%= user.fname + " " + user.lname %></h4>
                        <a href="/main/profile"><%= cookies[:fname] %></a><br/>
                        <a href="#" class="btn btn-default btn-info btn-xs btn-block"><span class="glyphicon glyphicon-cog"></span> <b>Edit Profile</b></a>
                       
                        <a href="/main/logout" class="btn btn-default btn-info btn-xs btn-block"><span class="glyphicon glyphicon-off"></span> <b>Logout</b></a>

                        
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="/main/profile">
                    <span class="badge pull-right"></span>
                    Home
                    </a>
                </li>
                <li >
                    <a href="/main/photos">
                    <span class="badge pull-right">0</span>
                    Photos
                    </a>
                </li>
                <li >
                    <a href="/main/friends">
                    <span class="badge pull-right"><%=Friend.find(:all, :conditions => { :user1 => cookies[:user_id] }).count%></span>
                    Friends
                    </a>
                    <a href="/main/messages">
                    <span class="badge pull-right"></span>
                      Messages
                    </a>
                </li>
            </ul>

            
      </div>
      <div style="float:left;width:55%;padding:5px;margin:5px">
            <div style="padding:10px;">
                  <input id ="autocomplete" type="text" class="form-control" placeholder="Search"> 
            </div>

            <div style="heigth:300px;">
              <%= image_tag  @group.timeline_pic.url, :height => "250",:width => "650"  %>
            </div>
            <div>
              <div style="padding:10px;margin:5px;width:45%;float:left">
                <%= form_tag "/pages/submit" do %>
   
                  <label for="text"></label> <textarea id="text"  name="post"  rows="3" cols="35" class="required"></textarea>
                 <br/>
                 <%= params[:error_post] %> <br/>
                  <input type="submit" value="Post"/>
                  
              <%end%>
            </div>
             
                
      </div>
      <div style="padding:20px;">
                
      </div>
  </div>



  <div>



<%if @group.admin_id.to_s==cookies[:user_id].to_s %>
<%= link_to 'Edit', edit_group_path(@group) %> 
<% end %>
<% if GroupRequest.where(:user_id => cookies[:user_id],:group_id => @group.id)[0]!=nil%>
<%= button_to  "cancel request", {:action => "delete_request",  :id => params[:id],:new_user_id => cookies[:user_id]},:class => 'btn btn-default btn-warning btn-sm' %>
<% elsif GroupMember.where(:user_id => cookies[:user_id],:group_id => @group.id)[0]==nil  %>
    
<%= button_to  "join group", {:action => "add_member",  :id => params[:id]},:class => 'btn btn-default btn-success btn-sm' %>
<%elsif @group.admin_id.to_s!=cookies[:user_id].to_s %>
  <%= button_to  "leave group", {:action => "leave_member",  :id => params[:id]},:class => 'btn btn-default btn-danger btn-sm' %>
<% end %>

<div class="bs-example">
    <div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Description</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p><%= @group.description%></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Members</a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
            <% members = @group.group_members %>
            <% for n in members %>
            
                    <% user_new = User.find(n.user_id) %>
                    <a href= <%= "/main/profile?id="+user_new.id.to_s %> > <%= image_tag  user_new.profile_pic.url, :height => "50",:width => "50" %></a>
                 
            <% end %>

          
        </p>
      </div>
    </div>
  </div>
  <% if @group.admin_id.to_s == cookies[:user_id].to_s %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">New Member Requests</a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          <table>
            <% new_request = @group.group_requests %>
            <% for n in new_request %>
            <tr>
                <td>
                    <% user_new = User.find(n.user_id) %>
                    <a href= <%= "/main/profile?id="+user_new.id.to_s %> > <%= image_tag  user_new.profile_pic.url, :height => "50",:width => "50" %></a>
                  </td>
                  <td>
                      <h5><%='  ' + user_new.fname%> </h5>
                  </td>
                  <td>
                      <%= button_to  "Add", {:action => "add_request",  :id => params[:id],:new_user_id => user_new.id},:class => 'btn btn-default btn-success btn-sm' %>
                  </td>
                  <td>
                     <%= button_to  "Delete", {:action => "delete_request",  :id => params[:id],:new_user_id => user_new.id},:class => 'btn btn-default btn-danger btn-sm' %>
                  </td>
            </tr>
            <% end %>
          </table>
        </p>
      </div>
    </div>
  </div>
  <%end %>

  
</div>
</div>
  </div>
















 