<a href="/main/profile"><%= cookies[:user_name] %></a>
<a href="/question/ask">Ask Question</a>
<a href="/question/myquestions">My Question</a>

<a href="/main/logout">logout</a>
<%= form_tag "/question/update" do %>
    
    Title:<br />
    <input name="title" type="text" value="<%= @question.title %>" size="100"/><br/>
    <%= params[:error_title] %> <br/>
    Content:<br />
    
     <textarea id="text"  name="content" rows="20" cols="90" class="required"><%= @question.content %></textarea>
   <br/>
   
   Tags:<br />
    <input name="tags" type="text" value="" size="100"/><br/>
   
    <input type="submit" value="SUBMIT"/>
    
<%end%>