






<a href="/main/profile"><%= cookies[:user_name] %></a>
<a href="/question/ask">Ask Question</a>
<a href="/question/myquestions">My Question</a>

<a href="/main/logout">logout</a>

<h2><%= @question.title %></h2>
<hr>
<table>
  <tr>
    <td>
      Upvotes: <%= @question.upvote %> 
      Downvotes: <%= @question.downvote %>
    </td>
    <td>
<%= @question.content %>
</td>
</tr>
</table>
<% edit_page = '/question/edit?id='+@question.id.to_s%>
  <%= edit_page %>
  <a href="<%=edit_page%>" > EDIT </a>

  <br/>
  <h1>Answers</h1>

    <% for answer in @answers %>
          <%= "upvote:" + answer.upvote.to_s    + "downvote:"+ answer.downvote.to_s %> <br\> 
          <%= answer.content %> <br/>
          <% user = User.find(answer.added_by) %> 
          <%= user.fname + " " + user.lname %>
          <%= button_to "Upvote", :action => "upvote",:id => answer.id %>
          <%= button_to "Downvote", :action => "downvote",:id => answer.id %>

      <br/><br/>
    <%end%>

  <%= form_tag "/question/addAnswer" do %>
    
    Your Answer:<br />
    
     <textarea id="text"  name="your_answer" rows="5" cols="80" class="required"></textarea>
   <br/>
  
   
    <input type="submit" value="SUBMIT"/>
    
<%end%>
 
