<a href="/main/profile"><%= cookies[:user_name] %></a>
<a href="/question/ask">Ask Question</a>
<a href="/question/myquestions">My Question</a>

<a href="/main/logout">logout</a>
<%= form_tag "/pages/add" do %>
    
    Title:<br />
    <input name="title" type="text" value="" size="100"/><br/>
    <%= params[:error_title] %> <br/>
    Content:<br />
    
    <label for="text"></label> <textarea id="text"  name="description"  rows="20" cols="90" class="required"></textarea>
   <br/>
   <%= params[:error_description] %> <br/>
   public <%= radio_button_tag 'privacy',"public",true %>
   private <%= radio_button_tag 'privacy',"private"%> <br/>
    <input type="submit" value="SUBMIT"/>
    
<%end%>