title : <%= @page.title %><br/>
description : <%= @page.description %><br/>

<%= image_tag @page.profile_pic.url %>
<%= image_tag @page.profile_pic.url(:medium) %>
<%= image_tag @page.profile_pic.url(:thumb) %>

likes : <%= @page.like %><br/>

privacy : <%= @page.privacy %><br/>

 <%= button_to @is_liked, :action => "pageLike", :is_liked => @is_liked, :id => params[:id]%>

<%= form_tag "/pages/submit" do %>
   
    <label for="text"></label> <textarea id="text"  name="post"  rows="3" cols="35" class="required"></textarea>
   <br/>
   <%= params[:error_post] %> <br/>
    <input type="submit" value="Post"/>
    
<%end%>


<% for post in @page_posts %>
	<div style="background-color: orange; width: 25em;padding-top:5px;padding-left:5px;padding-bottom:5px;padding-right:5px;">
		<%= post.content %>
		<br/><br/>
		likes: <%= post.likes %>
		<div style="background-color: white; padding-top:5px;padding-left:5px;padding-bottom:5px;padding-right:5px;">
			<% comments = PostComment.find_by_sql("select * from post_comments where post_id="+post.id.to_s) %>
			<% for comment in comments %>
				<div style="background-color: grey;padding-top:5px;padding-left:5px;padding-bottom:5px;padding-right:5px;margin-bottom:5px">
					<%= comment.comment%><br/>
					likes: <%= comment.likes %>
				</div>
			<% end %>
			<%= form_tag "/pages/comment" do %>
   				 <label for="text"></label> <textarea id="text"name="comment" ></textarea>
   				 <%= hidden_field_tag 'post_id', post.id %>
    			 <input type="submit" value="comment"/> 
			<%end%>
		</div>
	</div>
	<br/>
<%end%>



<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Like:</strong>
  <%= @page.like %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @page.privacy %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @page.admin_id %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
