<!DOCTYPE html>
<html>
<head>
  <title>DatabaseProject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="dialog">
    	<a href="/main/profile"><%= cookies[:user_name] %></a>
		<a href="/question/ask">Ask Question</a>
		<a href="/question/myquestions">My Question</a>
		<a href="/main/logout">logout</a>
  	</div>
	

<%= yield %>

</body>
</html>
